.announcment {
    background-color:deepskyblue;
    height:25px;
    width:100%;
    position:relative;
    border:none;
}
#marqueeStyle {
    color:white;
}
body {
    background-color:white;
    text-align:center;
}
iframe {
    width:100%;
    height:100%
}
.navbar-inverse {
    background-color:black;
    position:absolute;
    top:0px;
    left:1px;
    text-decoration:none;
    position:left;
    margin-left:10px;
    text-align:left;
    width:100%
}
a {
    position:left;
    color:darkgray;
}
navbar-nav {
    list-style:none;
    text-decoration:none;
    position:absolute;
    top:10px;
    right:30px;
}